<%= form_for :session, url: '/session', html: {role: 'form', class: 'form-signin'} do |form| %>
    <h2>Sign in</h2>

    <%= form.text_field :email, type: 'email', class: 'form-control', placeholder: 'Email address', required: true, autofocus: true %>

    <%= form.password_field :password, class: 'form-control', placeholder: 'Password', required: true %>

    <%= form.submit class: 'btn btn-lg btn-primary btn-block' %>
<% end %>
