<h1>Create New Visa Source</h1>

<div class="narrow">
    <%=	form_for(@visa_source, html: {role: 'form', class: 'form-horizontal', autofill: 'off'}) do |form| %>
        <%= render partial: 'form', locals: {form: form, src: @visa_source, btn_label: 'Create Source'} %>
    <% end %>
</div>