@import "foundation_and_overrides";

.hidden {
  display: none;
}

.narrow {
  max-width: 800px;
}

.pt {
  padding-top: 1em;
}

.mt {
  margin-top: 1em;
}

td {
  vertical-align: middle;
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
  border-radius: 4px;
}