@import "bootstrap";
@import "bootstrap/theme";
@import "bootstrap-chosen";

.hidden {
  display: none;
}

.pt {
  padding-top: 1em;
}

.mt {
  margin-top: 1em;
}

td {
  vertical-align: middle;
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
  border-radius: 4px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  h2,
  input[type="password"] {
    margin-bottom: 10px;
  }
}