<!DOCTYPE html>
<html lang="en">
<head>
    <title>Do I Need Visa?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'public', media: 'all' %>
    <%= javascript_include_tag 'public' %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
